doctype html
html(lang="en")
head
  title= "Task Details"
body
  h1 You are viewing task #{id} from template with title #{title}
  p The date on this task is #{date}
  //- p #{user} is responsible for this
